@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

html {
    height: 100%;
}

body {
    background-image   : url(https://www.teahub.io/photos/full/8-80307_blur-full-hd-backgrounds.jpg);
    background-size    : cover;
    background-position: center;
}

.mainContent {
    margin          : 10% auto;
    background-color: royalblue;
    color           : white;
    max-width       : 400px;
    width           : 100%;

}

.blck {
    width: 100%;
    background-color: royalblue;
}

.title {
    font-size  : 15px;
    font-weight: bold;
    font-family: 'Alata', sans-serif;
    display    : inline-block;
    padding : 10px ;
}

#addButton {
    color      : white;
    font-weight: bold;
    float      : right;
    padding : 10px ;
}

input {
    font-size       : 18px;
    color           : #2980b9;
    background-color: #f7f7f7;
    width           : 100%;
    padding         : 13px 13px 13px 20px;
    box-sizing      : border-box;
    border          : 3px solid rgba(0, 0, 0, 0);
}

input:focus {
    background: #fff;
    border    : 3px solid royalblue;
    outline   : none;
}

ul {
    list-style-type: none;
    margin         : 0;
    padding        : 0;
    font-family: 'Alata', sans-serif;
}

li {
    color           : black;
    background-color: rgb(231, 222, 222);
}

li:nth-of-type(2n) {
    background-color: white;
}

li span {
    background: #e74c3c;
    height: 35px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
    padding-top: 10px;
}

li:hover span {
    width  : 40px;
    opacity: 1.0;
}



.ketedao {
    text-decoration: line-through;
    color          : darkgray;
}